@font-face {
  font-family: arcade;
  src: url(../fonts/arcade.TTF);
}

@font-face {
  font-family: joystick;
  src: url(../fonts/joystick.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: arcade;
}

/*################## Landing Page #################*/
#landing {
  background: black;
  display: grid;
  text-align: center;
  margin: 5vh 5vw 5vh 5vw;
  grid-template-columns: 90vw;
  grid-template-rows: 30vh 10vh 10vh 20vh 20vh;
  grid-template-areas:
    "welcome"
    "coin"
    "coin-count"
    "add-coin"
    "start"
}

.welcome {
  grid-area: welcome;
  color: white;
  font-size: 70pt;
  animation: flashy-colors 2s ease-in-out infinite;
}

#coin {
  grid-area: coin;
  color: white;
  font-size: 40pt;
  animation: flash 0.5s ease-in-out infinite;
}

#coin-count {
  grid: coin-count;
  color: white;
  font-size: 40pt;
}

#add-coin-container {
  grid-area: add-coin;
}

#add-coin {
  color: white;
  background: none;
  font-size: 35pt;
  border: outset 5px;
  border-radius: 20px;
  width: 30%;
  height: 70%;
}

#add-coin:hover, #start:hover, .reload:hover, #play-again:hover, #play-snake:hover {
  color: black;
  border: outset 5px;
  background: white;
  transform: scale(1.1);
}

#start-container {
  grid-area: start;
}

#start {
  color: white;
  text-decoration: none;
  border: outset 5px white;
  border-radius: 20px;
  font-size: 60pt;
  padding: 30px 20px 20px 20px;
  display: none;
  animation: fade 1s ease-in-out;
}

/*################## Landing Page #################*/
/*################## Main Page #################*/
#main-back {
  background: url(../images/arcade.jpg);
  background-size: cover;
}

#containerG {
  text-align: center;
  width: 90vw;
  height: 90vh;
  background: rgba(0, 0, 0, 0.5);
  border: solid rgb(20, 30, 120) 10px;
  border-radius: 50px;
  z-index: 5;
  margin: 5vh 5vw 5vh 5vw;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25% 75%;
  grid-template-areas:
    "title"
    "names"
}

.the-games {
  font-size: 33pt;
  font-family: joystick;
  color: white;
  flex: 1;
  z-index: 5;
  width: 100%;
}

.the-games:hover {
  animation: pulse 1s ease-in-out infinite;
}

#titleG {
  font-family: joystick;
  grid-area: title;
  text-align: center;
  color: white;
  z-index: 5;
  font-size: 35pt;
  padding: 7vh 0 0 0;
  border-bottom: solid rgb(20, 30, 120) 10px;
  animation: flashy-colors 5s ease-in-out infinite;
}

#namesG {
  grid-area: names;
  text-align: center;
  color: white;
  display: flex;
  z-index: 5;
  flex-direction: column;
  justify-content: space-around;
}

.highlight {
  background: rgba(0, 0, 0, 0.5);
}

a {
  text-decoration: none;
}

.object {
  position: absolute;
  height: 150px;
  width: 150px;
  z-index: 1;
  left: -150px;
}

/*################## Main Page #################*/
/*################## BlackJack Page #################*/
#bj {
  background: url(../images/deck/green.jpg);
  background-size: cover;
}

#bjDiv {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 35vh 30vh 35vh;
  grid-template-areas:
    "dealer"
    "display"
    "player"
}
#bet500{
  background: url(../images/deck/chipB.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}
#bet200{
  background: url(../images/deck/chipR.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}
#bet100{
  background: url(../images/deck/chipY.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

#dealer {
  grid-area: dealer;
  display: flex
}

#money {
  flex: 3;
  color: white;
  text-align: center;
  font-size: 60pt;
  padding-top: 10vh;
  font-family: joystick;
}

#display {
  grid-area: display;
  display: flex;
}

#displayB, #displayW {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.on-display {
  flex: 1;
  color: white;
  font-size: 50pt;
  text-align: center;
  padding-top: 5%;
}

#player {
  grid-area: player;
  display: flex;
}

.my-card, .cpu-card {
  height: 35vh;
  flex: 1;
}

#my-bets {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.choices-style {
  flex: 1;
  font-family: joystick;
  color: white;
  font-size: 15pt;
  background: rgba(0, 0, 0, .8);
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.choice-contain {
  display: flex;
  flex: 1;
}

#stand, #hit {
  display: none;
}

/*################## BlackJack Page #################*/
/*#######################Smash'em Page###############*/
#smashBack {
  background: url(../images/backSmash.jpg);
  background-size: cover;
}

.exit {
  background: url(../images/exit.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  position: absolute;
  top: 2vh;
  left: 1vw;
  z-index: 10;
}

.smashKey {
  height: 50px;
  width: 50px;
  font-size: 50pt;
  text-align: center;
  position: absolute;
  z-index: 2;
  animation: spin 2s ease-in-out infinite;
  border: solid;
  border-radius: 4% 95% 6% 95%/95% 4% 92% 5%;
}

#instructions {
  background: rgba(0, 0, 0, .8);
  height: 90vh;
  width: 90vw;
  top: 5vh;
  left: 5vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
}

.instrStyle {
  font-family: joystick;
  flex: 1;
  font-size: 50pt;
  color: white;
  padding-top: 5vh;
}

.rules {
  flex: 4;
  list-style: none;
  font-size: 35pt;
}

li {
  margin-top: 10px;
  color: white;
}

.closeInstr {
  font-family: joystick;
  font-size: 50pt;
  margin-top: 5vh;
  padding: 20px;
  border: outset black 5px;
  border-radius: 20px;
}

.closeInstr:hover {
  color: white;
  background: black;
  box-shadow: 8px 8px grey;
}

#scoreBoard {
  height: 20vh;
  width: 60vw;
  background: rgba(0, 0, 0, .3);
  position: absolute;
  top: 40vh;
  left: 20vw;
  text-align: center;
  padding-top: 5vh;
  font-size: 70pt;
  font-family: joystick;
}

#gameover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  z-index: 1;
  display: none;
  z-index: 5;
}

.reload {
  color: white;
  background: rgba(0, 0, 0, 1);
  font-size: 50pt;
  position: absolute;
  margin: auto;
  width: 30vw;
  padding: 40px 30px 30px 30px;
  top: 45vh;
  left: 35vw;
  z-index: 5;
}

/*#######################Smash'em Page###############*/
/*########################INVADER#######################*/
#invader-back {
  background: url(../images/invade/invadeBack.png);
  overflow-x: hidden;
}

#my-ship {
  background: url(../images/invade/ship.png);
  background-size: contain;
  background-position: center;
  height: 100px;
  width: 100px;
  position: absolute;
  left: calc(50% - 50px);
  top: 85%;
  transition: left .1s linear;
  z-index: 3;
}

#instrucInvade {
  background: rgba(255, 255, 255, .8);
  height: 90vh;
  width: 90vw;
  top: 5vh;
  left: 5vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  z-index: 10;
}

.invStyle {
  color: black;
}

.bullet {
  background: red;
  z-index: 1;
  position: absolute;
  transition: top .1s linear;
}

.invaders {
  top: 0;
  height: 75px;
  width: 75px;
  position: absolute;
  transition: top .1s linear;
}

.power {
  position: absolute;
  height: 50px;
  width: 50px;
}

#lives-container {
  display: flex;
  width: 400px;
  height: 30px;
  position: absolute;
  top: 95%;
  left: 0;
}

.lives {
  background: url(../images/invade/heart.png);
  background-size: cover;
  flex: 1;
  margin-left: 10px;
  height: 30px;
  width: 30px;
}

/*########################INVADER#######################*/
/*#######################SNAKE#########################*/
#snake-back {
  background: url(../images/snake/grass.jpg);
  background-size: cover;
}

#snake-container {
  height: 770px;
  width: 770px;
  position: absolute;
  background: rgb(34, 162, 66);
  top: calc(50% - 385px);
  left: calc(100% - 800px);
  display: flex;
  flex-wrap: wrap;
}

.snake-instruction {
  position: absolute;
  width: 500px;
  height: 670px;
  margin-left: 30px;
  top: calc(50% - 385px);
  background: rgba(11, 11, 11, 0.5);
  display: grid;
  grid-template-rows: 100px 300px 200px 70px;
  grid-template-columns: 500px;
  padding: 50px;
  grid-template-areas:
    "snake-title"
    "snake-rules"
    "snake-score"
    "play-snake"
}

#snake-title {
  text-align: center;
  font-size: 70pt;
  grid-area: snake-title;
  animation: flashy-colors 2s ease-in-out infinite;
}

#snake-rules {
  grid-area: snake-rules;
  font-size: 20pt;
}

#snake-score {
  font-family: joystick;
  font-size: 50pt;
  padding-top: 50px;
  text-align: center;
  grid-area: snake-score;
}

#play-snake {
  font-size: 30pt;
  color: white;
  background: black;
  padding-top: 10px;
  grid-area: play-snake;
}

.single-box {
  height: 20px;
  width: 20px;
  border: solid rgba(255, 255, 255, 0.05) 1px;
}

#eat, #wall {
  background: url(../images/snake/eating.gif);
  background-size: cover;
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  display: none;
}

#wall {
  background: url(../images/snake/wall.gif);
  background-size: cover;
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
}

.snake-lose {
  font-family: joystick;
  font-size: 60pt;
}

.funny {
  font-size: 40pt;
  margin-top: 5%;
}

#eat-score, #wall-score {
  font-size: 50pt;
  margin-top: 5%;
}

#play-again {
  font-size: 50pt;
  padding: 30px 20px 20px 20px;
  margin-top: 10%;
  margin-left: 5%;
  color: white;
  background: black;
  float: left;
}

.loseContain {
  background: rgba(255, 255, 255, .4);
  height: 90%;
  width: 90%;
  margin-left: 5%;
  margin-top: 3%;
  text-align: center;
}

/*#######################SNAKE#########################*/
/*keyframe animations################################*/
@keyframes flashy-colors {
  0% {
    color: red;
  }

  20% {
    color: blue;
  }

  40% {
    color: aqua;
  }

  60% {
    color: green;
  }

  80% {
    color: orange;
  }

  100% {
    color: red;
  }
}

@keyframes flash {
  0% {
    color: red;
  }

  50% {
    color: blue;
  }

  100% {
    color: red;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
